__pycache__/
.git/
.venv/
venv/
.vscode/

build/
dist/
oemer.egg-info/
checkpoints/

.DS_Store

*.musicxml
*.mp3
*.swp
/*.png
/*.pkl
/*.jpeg
/*.jpg
/*.model

ds2_dense
ds2_dense.*
CvcMuscima-Distortions
CVCMUSCIMA_SR.*
train_data
test_data